.logout {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 2px; }

.logout:hover {
  color: blue; }

.header {
  height: 70px; }

.post-footer {
  background-color: #ffffff !important; }

.big-picture {
  width: 151%;
  position: relative;
  margin: 70px 0;
  left: 50%;
  transform: translateX(-50%); }
